#banner {
    background: url('../images/fortalecer-m.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    .banner {
        margin: 38px col(1,37) 40px;
        &__logo {
            img {
                max-width: 280px;
                width: col(16,35);                
            }
        }
        &__title {
            font-size: 22px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 10px;
            color: $first-color;
        }
        &__subtitle {
            font-size: 16px;
            font-weight: 400;
            color: $title-text-color;
            margin-bottom: 20px;
        }
        .cta {
            width: col(18,35);
        }
    }
    @include tablet {
        background-position: inherit;
        padding-top: 80px;
        .banner {
            margin: 74px col(4,31) 80px;
            &__title {
                font-size: 28px;
                line-height: 1.1;
            }
        }

    }
    @include desktop {
        padding-top: 80px;
        background: url('../images/fortalecer-d.png') no-repeat;
        background-size: cover;
        background-position: bottom;
        .row {
            margin: 0 col(1,31);
        }
        .banner {
            margin: 60px 0;
            width: col(15,31);
            text-align: left;
            &__logo {
                img {
                    max-width: 280px;
                    width: col(7,15);                
                }
            }            
            &__title {
                font-size: 50px;
            }
            &__subtitle {
                font-size: 24px;
                margin-bottom: 30px;
            }
            .cta {
                width: col(5,11);
            }
        }
    }
  
}