#contacto {
    background: #3c3f47;
    .row {
        margin: 0 col(2,37);
    }
    .right {
        width: col(33,33);
        margin-top: 32px;
        .right-item {
            margin-left: inherit;
        }        
    }
    @include tablet {
        .row {
            margin: 0 col(4,31);
        }
    }
    @include desktop {
        .row {
            margin: 0 col(1,31);
        }
        .title {
            text-align: left;
            margin-top:68px;
        }
        .left {
            width: col(15,29);
            .input-field {
                width: col(6,15);
                &:nth-child(1) {
                    margin-right: col(.5,15);
                }
            }
            .message {
                width: col(12.5,15);
                height: 160px;
                label {
                    bottom: 77%;
                }
            }
            .cta {
                width: col(6,15);
            }
        }
        .right {
            margin-top: 0;
            width: col(14,29);
        }
    }
}