#contacto {
    background: #3c3f47;
    .row {
        margin: 0 col(2,37);
    }
    .left {
        width: 100%;
        .input-field {
            width: 100%;
            height: 65px;
        }
        .message {            
            height: 134px;
            label {
                bottom: 73%;
            }
        }
        .cta {
            width: 100%;
        }
    }
    .right {
        width: col(33,33);
        margin-top: 32px;
        .right-item {
            margin-left: inherit;
        }        
    }
    @include tablet {
        .row {
            margin: 0 col(4,31);
        }
    }
    @include desktop {
        .row {
            margin: 0;
        }
        .title {
            text-align: left;
            margin-top:68px;
        }
        .left {
            width: col(15,31);
            margin-left: col(1,31);
            .input-field {
                width: col(6,15);
                &:nth-child(1) {
                    margin-right: col(.5,15);
                }
                textarea {
                    height: 140px;
                }
            }
            .message {
                width: col(12.5,15);
                height: 160px;
                label {
                    bottom: 77%;
                }
            }
            .cta {
                width: col(6,15);
            }
        }
        .right {
            margin-top: 0;
            width: col(15,31);
        }
        .iframe-container {
            height: 0;
            overflow: hidden;
            padding-bottom: 80%; /* aspect ratio */
            position: relative;
        }
        
        .iframe-container iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}