#cuidados {
    .row {
        margin: 0 col(2,37);
    }
    .right {
        width: col(33,33);
        margin-top: 32px;
        .right-item {
            margin-left: inherit;
        }        
    }
    @include tablet {
        .row {
            margin: 0 col(4,31);
        }
    }
    @include desktop {
        .row {
            margin: 0 col(1,31);
        }
        .left {
            margin-top: 114px;
            width: col(13,29);
            .title {
                text-align: left;
            }
        }
        .right {
            margin-top: 0;
            margin-left: col(4,29);
            width: col(12,29);
            img {
                width: 100%;
            }
        }
    }
}