#cuidados {
    .row {
        margin: 0 col(2,37);
    }
    .right {
        width: col(33,33);
        margin-top: 32px;
        .right-item {
            margin-left: inherit;
        }        
    }
    @include tablet {
        .row {
            margin: 0 col(4,31);
        }
    }
    @include desktop {
        .row {
            margin: 0;
        }
        .title {
            text-align: left;
            margin: 69px 0;
        }
        .left {
            width: col(16,31);
            .title {
                padding: 0 col(2,16) 0 col(1,16);
            }
            img {
                width: 105%;
                height: 426px;
                margin-left: -5%;
            }
        }
        .right {
            margin-top: 0;
            width: col(15,31);
            .title {
                padding: 0 col(1,15) 0 col(2,15);
            }
            img {
                width: 105%;
                height: 426px;
                margin-right: -5%;
                margin-bottom: -3px;
            }
        }
    }
}