#educacion {
    background: #f0f1f5;
    &-carousel {
        margin-top: 32px;
    }
    .row {
        margin: 0 col(2,37);
    }
    .card {
        background: #ffffff;
        padding: 30px;
        border-radius: 16px;
        min-height: 286px;
        max-width: 280px;
        width: 100%;
        text-align: center;
        &__logo {
            margin-bottom: 25px;
            img {
                width: 100%;
                max-width: 204px;
                height: auto;
                margin: 0 auto;
            }
        }
        %text {
            font-size: 12px;
            font-weight: 300; 
        }
        &__text {
            @extend %text;
            line-height: 1.41;
            color: $paragraph-text-color;
        }
        ul li {
            color: #ff5b61;
            margin-left: 18px;
            @extend %text;
            span {
                color: $paragraph-text-color;
            }
        }
        &__link {
            margin-top: 20px;
            a {
                color: #ff5b61;
                font-size: 12px;
                font-weight: 800;
            }
        }
    }
    @include tablet {
        .row {
            margin: 0 col(2,31);
        }      
        .card {            
            max-width: 320px;
        }
    }
    @include desktop {
        &-carousel {
            margin-top: 54px;
        }
        .row {
            margin: 0 col(2,31);
        }
        .title {
            margin: 0 col(5,27);
        }
        .card {
            padding: 40px;
            text-align: left;
            max-width: 100%;
            &__logo {
                img {
                    width: inherit;
                    height: inherit;
                }
            }
            %text {
                font-size: 14px;
            }
            &__text {
                font-size: 14px;
            }
            
            &__link {
                margin-top: 36px;
                a {
                    font-size: 14px;
                }
            }
        }
        .yomecuido {
            margin-bottom: 40px;
            &__left {
                width: col(13,27);
                img {
                    width: 100%;
                }
            }
            &__right {
                width: col(14,27);
            }
            .card {
                border-radius: 0 16px 16px 0;
                &__logo {
                    margin-bottom: 25px;
                    img {
                        height: 50px;
                    }
                }
            }
        }
        .programa-cuidate {
            width: col(13,27);
            .card {
                &__logo {
                    margin-bottom: 14px;
                    img {
                        height: 31px;
                    }
                }
            }
        }
        .estar-bien {
            margin-left: col(1,27);
            width: col(13,27);
            .card {
                &__logo {
                    margin-bottom: 14px;
                    img {
                        height: 68px;
                    }
                }
            }
        }
    }
    @media screen and (min-width:426px) and (max-width:589px) {
        .educacion {
            margin: 0 col(4,25); 
        }
    }
}