footer {
    background: #252a2e;
    * {
      color: #ffffff;
    }
    .row {
      margin: 0 2.7027027027%;
      padding: 30px 0;
    }
    
    .social-media {
      width: 100%;
      border-top: 0.2px solid #54535d;
      padding-top: 20px;
      margin-top: 10px;
      a {
        text-decoration: none;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 9px 12px 6px 12px;
        margin-left: 12px;
        &:hover {
          border-color: #13bfb1;
          i {
            color: #13bfb1;
          }
        }
      }
    }
    .copy-right {
      margin-top: 16px;
      width: 100%;
      p {
        font-size: 12px;
        letter-spacing: 0.3px;
        font-weight: 300;
        font-family: "Metrophobic", sans-serif;
      }
    }

    @include tablet {
        .row {
            margin: 0 6.4516129032%;
        }
    }
    
    @include desktop {    
        .row {
            margin: 0 3.2258064516%;
            padding: 44px 0;
        }
        p {
            font-size: 13px;
        }
        .copy-right {
            margin-top: 9px;
        }        
    }
}