@import 'fonts';
@import 'icons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}
body {
    margin: 0;
}
strong {
    font-weight: 500;
}
section {
    padding: 48px 0;
    @include desktop {
        padding: 0;
    }
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.font-thin {
    font-weight: 300;
}
.link {
    margin-top: 20px;
    &__text {
        font-size: 12px;
        color: #728df1;
        // font-family: $second-font;
        &:hover {
            color: #9eb3ff;
        }
    }
    i {
        margin-left: 6px;
        font-size: 10px;
    }
}

.title {
    &__section {
        font-family: $second-font;
        font-size: 12px;
        font-weight: 400;
        color: $paragraph-text-color;
        margin-bottom: 14px;
        @include desktop {
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 1.4px;
            font-weight: 300;
        }
    }
    &__principal {
        font-size: 24px;
        font-weight: 300;
        color: $first-color;
        font-family: $third-font;
        @include tablet {
            font-size: 26px;
        }
        @include desktop {
            font-size: 40px;
            line-height: 1.1;
            letter-spacing: -0.8px;
        }
    }
    &__subtext {
        font-weight: 300;
        margin-top: 16px;
        color: $paragraph-text-color;
        text-align: justify;
        @include desktop {
            font-size: 18px;
            margin-top: 16px;
        }
    }
}
//Input Style
.input-field {
    position: relative;
    margin-top: 5px;
    height: 70px;
    input[type="text"], input[type="email"], input[type="number"], textarea {
        color: #fff;
        border: solid 1px #d4d5e8;
        background: transparent;
        width: 100%;
        height: 52px;
        padding-left: 10px;
        padding-top: 7px;
        border-radius: 4px;
        outline: none;
        font-size: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
        &::-ms-clear {
            display: none;
        }
    }
    input:disabled {
        background-color: #fafafc;
    }
    textarea {
        height: 116px;
        width: 100%;
        padding-top: 20px;
    }
    label {
        color: #c1c6db;
        position: absolute;
        bottom: 48%;
        left: 10px;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        cursor: text;
        -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;
        &.active {
            -webkit-transform: translateY(-15px) scale(0.8);
            transform: translateY(-15px) scale(0.8);
        }
    }   
}

//Butons style
%btn-style {
    display: block;
    height: 52px;
    line-height: 52px;    
    border-radius: $border-radius-first;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: $second-font;
    width: 100%;
    -webkit-appearance: button-bevel;
    @include desktop {
        font-size: 14px;
        height: 54px;
        line-height: 54px;
    }
}

.cta {    
    &__btn-primary {
        @extend %btn-style;
        background: $btn-primary-color;
        color: #ffffff;
        &:hover {
            background: $btn-primary-hover;
        }
    }    
    &__btn-first-border {
        @extend %btn-style;
        height: 36px;
        line-height: 36px;
        border: 1px solid $first-color;
        color: $first-color;
        &:hover {
            background: $first-color;
            border: 1px solid $first-color;
            color: #ffffff;
        }        
    }
}

.container {
    width: 95%;
    max-width: 296px;
}

@include mobile {
    .hide-mobile {
        display: none !important;
    }
    .hide-tablet-on-down {
        display: none !important;
    }
}

@include tablet {
    .container {
        max-width: 744px;
    }
    .hide-tablet-on-up {
        display: none;
    }
    .hide-tablet-on-down {
        display: none !important;
    }
    .hide-mobile {
        display: block;
    }
}

@include desktop {
    .container {
        width: 95%;
        max-width: 1240px;
    }
    .hide-desktop {
        display: none !important;
    }
    .hide-tablet-on-down {
        display: block !important;
    }
}

