
.icon-inversiones:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-salud:before {
  content: "\e998";
}

.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-google-play:before {
  content: "\e908";
}
.icon-lindkein:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-appstore:before {
  content: "\e90c";
}
.icon-quota:before {
  content: "\e90d";
}
.icon-arrow-down:before {
  content: "\e90e";
}
.icon-menu-mobile:before {
  content: "\e90f";
}
.icon-profile:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-cancel:before {
  content: "\e914";
}

.icon-home:before {
  content: "\e902";
}

.icon-location:before {
  content: "\e948";
}
.icon-medicine:before {
  content: "\e998";
}
.icon-person:before {
  content: "\e9b2";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-mail:before {
  content: "\ea83";
}
// .icon-facebook:before {
//   content: "\ea91";
// }
.icon-whatsapp:before {
  content: "\ea93";
}
// .icon-twitter:before {
//   content: "\ea96";
// }