.pages {
    #banner{
        background-size: cover;
        background-position: center;
        .banner {
            margin: 40px 0;
            &__title {
               margin: 0;
                color: #ffffff;
            }
        }
        @include desktop {
            .banner {
                margin: 90px 0;
            }
        }
    }
}
.nosotros {
    #banner{
        background: url('../images/nosotros.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    #quienesSomos{
        padding: 48px 0;
        @include desktop {
            padding: 0;
            .left {
                margin-top: 84px;
            }
        }
    }
}
.services {
    #banner{
        background: url('../images/servicios.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    #servicios {
        .servicios {
            .item {
                &__body {
                    min-height: 225px;
                }
            }
        }
    }
}