#servicios {
    background: #f4f4f4;
    .row {
        margin: 0 col(2,37);
    }
    .owl-carousel .owl-item img {
        display: inline-block;
    }
    .owl-theme .owl-dots .owl-dot span {
        border: 1px solid #68d0c8;
    }
    
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #68d0c8;
    }
    .title {
        &__subtext {
            text-align: center;
        }
    }
    .servicios {
        margin-top: 32px;
        .item {
            padding: 0 7px;
            width: 100%;
            min-height: 270px;
            &__body {
                padding: 20px;
                min-height: 120px;
                background: #ffffff;
                position: relative;
            }
            &__title {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.2px;
                color: $title-text-color;
            }
            &__text {
                margin-top: 14px;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.41;
                text-align: justify;
                color: $paragraph-text-color;
            }

            &__img {
                overflow: hidden;
                img{
                    height: 170px;
                    margin-bottom: -4px;                   
                }
            }
            .link {
                position: absolute;
                bottom: 20px;
            }
        }
    }
    @include tablet {
        .row {
            margin: 0 col(2,31);
        }
        .servicios {
            .item {
                max-width: 320px;
            }
        }
    }
    @include desktop {
        padding: 75px 0;
        .row {
            margin: 0 col(1,31);
        }
        .title {
            margin: 0 col(5,27);
        }
        .servicios {
            margin-top: 38px;
        }
    }
    @media screen and (min-width:426px) and (max-width:589px) {
        .servicios {
            margin: 32px col(4,25) 0;
        }
    }
}