#voluntariado {
    background: #f0f1f5;
    .row {
        margin: 0 col(2,37);
    }
    .voluntariado-m {
        margin-top: 32px;
        .item {
            max-width: 280px;
            width: 100%;
            background: #ffffff;
            border-radius: 10px;
            * {color: #494f66}
            &__image {
                height: 139px;
                background: url('../images/voluntariado-01.png') no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 10px 10px 0 0;
            }
            &__title {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.8px;
                padding: 24px 0 14px;
            }
            &__text {
                font-size: 12px;
                font-weight: 300;
                line-height: 1.41;
                padding: 0 24px 24px;
            }
        }
    }
    @include tablet {
        .row {
            margin: 0 col(2,31);
        }
        .voluntariado-m {
            .item {
                max-width: 320px;
                margin: 0 auto;
                &__title {
                    font-size: 20px;
                }
                &__text {
                    font-size: 14px;
                    padding: 0 30px 30px;
                }
            }
        }
    }
    
    @include desktop {
        .row {
            margin: 0 col(2,31);
        }
        .title {
            margin: 0 col(5,27);
        }
        .voluntariado-d {
            margin-top: 56px;
            .left {
                width: col(13,27);
                img {
                    width: 100%;
                }
            }
            .right {
                width: col(13,27);
                margin-left: col(1,27);
            }
            .item {
                background: #ffffff;
                padding: 5% 34px;
                margin-bottom: 3%;
                border-radius: 12px;
                cursor: pointer;
                height: 17%;
                &__title {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.41;
                    letter-spacing: -0.8px;
                    color: #494f66;
                }
                &__icon {
                    font-size: 20px;
                    font-weight: 600;
                    float: right;
                }
                &__text {
                    font-size: 16px;
                    color: #ffffff;
                    line-height: 1.41;
                    letter-spacing: -0.2px;
                    display: none;
                }
                &.active {
                    background: #ff5b61;
                    padding: 7% 34px;
                    cursor: inherit;
                    position: relative;
                    height: 40%;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 40%;
                        left: -36px;
                        border-width: 18px;
                        border-style: solid;
                        border-color: transparent #ff5b61 transparent transparent;
                    }
                    h4 {
                        color: #ffffff;
                        margin-bottom: 20px;
                    }
                    p {
                        display: block;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (min-width:1050px) and (max-width:1210px) {
        .voluntariado-d {
            .item {
                &.active {
                    padding: 4% 34px;
                }
                &__title {
                    font-size: 20px;
                }
            }
        }
    }
}